<template>
  <div class="container-fluid">
    <div class="text-center mt-3" style="font-size: 20pt" v-if="loading">
      <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
    </div>
    <div class="row mt-3" v-else>
      <div class="col-lg-4 mb-3" v-for="(city, index) in cities" :key="index">
        <weather
          :city="city.city"
          :maximum="city.max_temp"
          :minimum="city.min_temp"
          :iconAbbr="city.weather_state_abbr"
          :temperature="city.the_temp"
        ></weather>
      </div>
    </div>
  </div>
</template>

<script>
import services from '@/services'
import Weather from './Weather'

export default {
  components: {
    Weather
  },
  data () {
    return {
      cities: [],
      loading: false
    }
  },
  created () {
    this.getCities()
  },
  methods: {
    async getCities () {
      this.loading = true
      const istanbul = await this.getCity('Istanbul', 2344116)
      const berlin = await this.getCity('Berlin', 638242)
      const london = await this.getCity('London', 44418)
      const helsinki = await this.getCity('Helsinki', 565346)
      const dublin = await this.getCity('Dublin', 560743)
      const vancouver = await this.getCity('Vancouver', 9807)

      this.cities.push(
        { ...istanbul },
        { ...berlin },
        { ...london },
        { ...helsinki },
        { ...dublin },
        { ...vancouver }
      )

      this.loading = false
    },
    getCity (cityName, id) {
      return services.weather({ id }).then(res => {
        let city = res.data.consolidated_weather[0]
        city.city = cityName
        return city
      })
    }
  }
}
</script>
