<template>
  <div class="card">
    <h5 class="card-header">
      {{ city }}
      <div class="card-header-icon">
        <img class="img-fluid" :src="resolveIconPath()" :alt="`icon-${iconAbbr}`">
      </div>
    </h5>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h6 class="card-subtitle mb-2 text-muted">Max. {{ maximumCelsius }}</h6>
          <h6 class="card-subtitle text-muted">Min. {{ minimumCelsius }}</h6>
        </div>
        <div class="col text-right">
          <h4>{{ tempCelsius }}</h4>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    city: { type: String, required: true },
    maximum: { type: Number, required: true },
    minimum: { type: Number, required: true },
    iconAbbr: { type: String, required: true },
    temperature: { type: Number, required: true }
  },
  computed: {
    maximumCelsius () {
      return `${parseInt(this.maximum)}ºC`
    },
    minimumCelsius () {
      return `${parseInt(this.minimum)}ºC`
    },
    tempCelsius () {
      return `${parseInt(this.temperature)}ºC`
    }
  },
  methods: {
    resolveIconPath () {
      return `https://www.metaweather.com/static/img/weather/${this.iconAbbr}.svg`
    }
  }
}
</script>

<style>
.card-header-icon {
  width: 30px;
  position: absolute;
  top: 10px;
  right: 1rem;
}
</style>
